### Car Price Prediction

#### Installing and loading dependices

In [4]:
import os 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
% inline mathplot
import scipy.stats as stats

UsageError: Line magic function `%` not found.

#### Importing Datasets 
#### Creating one datasets

In [83]:
data = pd.read_csv('train.csv')
data1 = pd.read_csv('test.csv')
data = pd.concat([data, data1], axis = 0)

In [84]:
data.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328.0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621.0,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467.0,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607.0,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726.0,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
5,45802912,39493.0,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,04-May,Left wheel,White,4
6,45656768,1803.0,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4.0,Automatic,Front,04-May,Left wheel,White,12
7,45816158,549.0,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4.0,Automatic,Front,04-May,Left wheel,Grey,12
8,45641395,1098.0,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4.0,Automatic,Front,04-May,Left wheel,Black,12
9,45756839,26657.0,-,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12

In [85]:
data.shape

(27482, 18)

#### Cleaning Data

#### Cleaning Tasks

Tasks:

Check categorical variables have correct unique values \
Convert variables to correct datatypes \
Check for missing values \
Remove Abbreviations which represent metric after numerical values \
Reduce lenght of string variables (i.e. Manufactuer)

##### Making Copy of data

In [86]:
data_bup = data.copy()
data_bup.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328.0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621.0,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467.0,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607.0,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726.0,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
5,45802912,39493.0,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,04-May,Left wheel,White,4
6,45656768,1803.0,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4.0,Automatic,Front,04-May,Left wheel,White,12
7,45816158,549.0,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4.0,Automatic,Front,04-May,Left wheel,Grey,12
8,45641395,1098.0,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4.0,Automatic,Front,04-May,Left wheel,Black,12
9,45756839,26657.0,-,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12

#### Clean Task 1:  
Check Categorical variables have correct unique values

In [87]:
# Check for inidividual columns 
# Manufacturer
data['Manufacturer'].value_counts()

HYUNDAI          5358
TOYOTA           5177
MERCEDES-BENZ    2983
FORD             1592
CHEVROLET        1520
                 ...
LANCIA              1
HAVAL               1
TATA                1
FOTON               1
MG                  1
Name: Manufacturer, Length: 68, dtype: int64

In [88]:
# Check value counts in dataset for categroical variables
# Subsetting data for columns we want 
# Columns we want are: Manufacturer, Model, Prod.year, Leather interior, category, Fuel Type, Gear box type, Drive Wheels, Doors, Wheel, Color)

categorical = ['Manufacturer', 'Model', 'Prod. year', 'Category', 'Leather interior',
               'Fuel type', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color']
data_categorical = data[categorical]
# data_categorical.dtypes

for x in data_categorical: 
    a = data_categorical[x].value_counts()
    print(a)

HYUNDAI          5358
TOYOTA           5177
MERCEDES-BENZ    2983
FORD             1592
CHEVROLET        1520
                 ...
LANCIA              1
HAVAL               1
TATA                1
FOTON               1
MG                  1
Name: Manufacturer, Length: 68, dtype: int64
Sonata                1557
Prius                 1531
Camry                 1328
Elantra               1300
E 350                  800
                      ...
Captur QM3 Samsung       1
Camry XLEi               1
Sprinter 313CDI          1
Tucson Se                1
528 F10                  1
Name: Model, Length: 1981, dtype: int64
2012    3090
2014    3013
2013    2850
2011    2311
2015    2234
2016    2129
2010    2099
2017    1343
2008    1059
2009     850
2018     680
2007     669
2005     575
2003     526
2004     521
2006     455
2019     424
2002     417
2000     385
2001     365
1999     309
1998     301
1997     210
1996     165
1995     136
2020      78
1994      66
1993      44
1992      42
1990      26
1988      17
1991      16
1989      10
1987      10
1986       7
1984       6
1985       5
1953       4
1983       3
1974       3
1939       3
1977       2
1968       2
1980       2
1943       2
1965       2
1978       2
1964       2
1981       2
1956       1
1966       1
1979       1
1961       1
1976       1
1973       1
1982       1
1947       1
1957       1
1970       1
Name: Prod. year, dtype: int64
Sedan          12534
Jeep            7821
Hatchback       4038
Minivan          934
Coupe            746
Universal        523
Microbus         428
Goods wagon      310
Pickup            72
Cabriolet         61
Limousine         15
Name: Category, dtype: int64
Yes    19926
No      7556
Name: Leather interior, dtype: int64
Petrol            14492
Diesel             5773
Hybrid             5089
LPG                1307
CNG                 701
Plug-in Hybrid      118
Hydrogen              2
Name: Fuel type, dtype: int64
Automatic    19296
Tiptronic     4463
Manual        2675
Variator      1048
Name: Gear box type, dtype: int64
Front    18374
4x4       5802
Rear      3306
Name: Drive wheels, dtype: int64
04-May    26173
02-Mar     1129
>5          180
Name: Doors, dtype: int64
Left wheel          25384
Right-hand drive     2098
Name: Wheel, dtype: int64
Black            7196
White            6392
Silver           5422
Grey             3400
Blue             2011
Red               893
Green             463
Orange            358
Brown             270
Carnelian red     266
Golden            207
Beige             198
Sky blue          177
Yellow            145
Purple             53
Pink               31
Name: Color, dtype: int64

#### Notes - Cleaning Task 1

Wheel - Value Change - Left Wheel to 'Left-hand drive' \
Doors - Value & Type Change - '04-May' = 4, '02-May' =2, '>5'= '5'

In [89]:
# Value change in Wheel - 'Left wheel' to 'Left-hand drive'
lst = ['Left wheel']
data['Wheel'] = np.where(data['Wheel'].isin(lst), 'Left-hand drive', data.Wheel)
data['Wheel'].head(10)

0     Left-hand drive
1     Left-hand drive
2    Right-hand drive
3     Left-hand drive
4     Left-hand drive
5     Left-hand drive
6     Left-hand drive
7     Left-hand drive
8     Left-hand drive
9     Left-hand drive
Name: Wheel, dtype: object

In [100]:
# Chaning Doors Value 
# Changing the following: '04-May' = 4, '02-May' =2, '>5'= '5' 

# '04-May' = 4,
lst_1 = ['04-May']
data['Doors'] = np.where(data['Doors'].isin(lst_1), '4-Door', data.Doors)
data.head(5)

# '02-May' =2
lst_2 = ['02-Mar']
data['Doors'] = np.where(data['Doors'].isin(lst_2), '2-Door', data.Doors)

# >5'= '5
lst_3 = ['>5']
data['Doors'] = np.where(data['Doors'].isin(lst_3), '5-Doors', data.Doors)

# Checking the values correctly changed in the Doors variable
data['Doors'].value_counts()

# Change to type int64
data['Doors']

0       4-Door
1       4-Door
2       4-Door
3       4-Door
4       4-Door
         ...
8240    4-Door
8241    4-Door
8242    4-Door
8243    4-Door
8244    4-Door
Name: Doors, Length: 27482, dtype: object

#### Note - Cleaning Task 2

Convert variables to correct datatypes

##### Data type and conversions 
Object -Data type used for strings \
int64 - Used for intergers (whole No.) \
float64 - Used for floating point numbers (decimals/fractions) \
bool - boolean (True and False) \
datetime64 - date and time values \
timedelta - represents difference between two datatimes \
category - values that take one out of limited number of available options

#### Converting data types

In [103]:
data.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328.0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,4-Door,Left-hand drive,Silver,12
1,44731507,16621.0,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,4-Door,Left-hand drive,Black,8
2,45774419,8467.0,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,4-Door,Right-hand drive,Black,2
3,45769185,3607.0,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,4-Door,Left-hand drive,White,0
4,45809263,11726.0,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,4-Door,Left-hand drive,Silver,4
5,45802912,39493.0,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,4-Door,Left-hand drive,White,4
6,45656768,1803.0,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4.0,Automatic,Front,4-Door,Left-hand drive,White,12
7,45816158,549.0,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4.0,Automatic,Front,4-Door,Left-hand drive,Grey,12
8,45641395,1098.0,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4.0,Automatic,Front,4-Door,Left-hand drive,Black,12
9,45756839,26657.0,-,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6.0,Automatic,4x4,4-Door,Left-hand drive,Silver,12

From the table above, we can see the following variables are the these data types: \
ID = int64 , Price = float,  Levy = int64,  Manufacturer = Object,  Model = Object,  Prod. year = int64, 
Category = category, Leather Interior = Boolean, Fuel Type = category, Engine volume = Float, Mileage = int64, 
Cylinders = Float, Gear box type = category, Drive wheels = category, Doors = category, Wheel = category, 
color = category, Airbags = int64

In [106]:
# Checking the data types 
data.dtypes

# data.info() - Another way of seeing data types

ID                    int64
Price               float64
Levy                 object
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

Therefore, via looking above we see the following variables need to be changed (datatype): \
Levy: object -> int64 \
Category: object -> category \
Leather interior: object -> Boolean \
Fuel Type: object -> Category  \
Engine Volume: object -> float \
Mileage: object -> int64   \
Gear box type: object -> category   \
Drive wheels: object -> category   \
Doors: object -> category    \
Wheel: object -> category   \
color: object -> category    \

In [115]:
# Changing the data types of the variables above 
# Levy - changing to int
data['Levy'] = pd.to_numeric(data['Levy'])
data.dtypes


#

ID                    int64
Price               float64
Levy                  int64
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

In [18]:
## Functions to use 
data['Color'].value_counts() # Shows values belonging to each category - Can be used on categorical variables

Black            7196
White            6392
Silver           5422
Grey             3400
Blue             2011
Red               893
Green             463
Orange            358
Brown             270
Carnelian red     266
Golden            207
Beige             198
Sky blue          177
Yellow            145
Purple             53
Pink               31
Name: Color, dtype: int64